---
import Layout from '../../Layouts/Layout.astro'
---

<header class="bg-zinc-900 flex flex-col md:flex-row text-white p-20 gap-3 text-center md:text-left rounded-xl mt-5">
    <div>
        <h1 class="text-5xl font-bold pb-2">Protect your password</h1>
        <p class="my-4 text-2xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, illo.</p>
        <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400 rounded">Start now</button>
    </div>
    <img src="finger.svg" alt="" class="w-80">
</header>