---
import projects from "../../config/projects.json"
---

<h1 class="font-bold text-5xl my-5 text-center">Projects</h1>

<section class="flex flex-col md:grid md:grid-cols-2 gap-4">
    {
        projects.map( (project, index) => (
            <div class="bg-zinc-800 m-4 rounded-xl p-5 flex justify-center items-center">
                <div class="flex-1">
                    <h2 class="text-5xl font-medium my-4">{project.title}</h2>
                    <p class="text-xl">{project.description}</p>
                </div>
                <div class="flex-1 flex justify-center items-center">
                    <img src={project.image} alt="" class="w-40">
                </div>
            </div>
        ))
    }
</section>